<% if @list.errors.any? %>  

	$("#list-form").before('<div class="error flash"><h2>Please Try Again!</h2><ul><% @list.errors.full_messages.each do |msg| %><li><%= escape_javascript(msg) %></li><% end %></ul></div>');
	<% flash.delete(:notice) %>
	
<% else %>
	$("#list-view").html("<%=@list.title%>")
	$("#list-view").show();
	$("#list-edit").hide();

<% end %>