/*
blue: 00BBBB
tan: FFFFCC
yellow: FFCC33
gray: 333333
pink: FF0088
*/

#bar{
	background-image:url(../images/bar.png);
	height:10px;
}

.logo {
	background-color:#333333;
	color:white;
	font-size:200%;
	height:21px;
	line-height:normal;
	margin:0;
	padding:10px;
}

.logo a{
	color:white;
	background:none;
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style:none;
	padding:5px;
}

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../fonts/Chunkfive-webfont.eot');
	src: local('☺'), url('../fonts/Chunkfive-webfont.woff') format('woff'), url('../fonts/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/Chunkfive-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5{
	font-family:'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: .5px;
}

.flash ul, .flash h3,h4{
	margin:0;
	padding:0;
}

.flash li{
	list-style:none;
}


#content {
	margin: 10px 0 0 10px;
}

#footer{
	position:absolute;
	bottom:0;
	right:0;
}

#main-nav{
	margin:0;
	padding:0 0 0 10px;
}

#main-nav li{
	list-style:none;
	display:inline;
	font-family:'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: .5px;
	border-right:2px solid gray;
	margin-right:5px;
}

#main-nav li.end{
	border-right:none;
}

#main-nav a{
	padding-top:5px;
}

.list-items{
	margin:10px 0;
	width:500px;
}

.list-items li{
	border-bottom:1px dotted gray;
	background-color:#F0F0F0;
	padding:0;
}

.list-items li div{
	padding:5px;
}

.list-items .edit{
	background-color:#FFFFCC;
}

.archive_checkbox_form{
	float:left;
	margin-right:5px;
}

#my-lists{
	font-weight:bold;
	font-size:120%;
	
}