<% if @item.errors.any? %>  

	$("#item-form").before('<div class="error flash"><h2>Please Try Again!</h2><ul><% @item.errors.full_messages.each do |msg| %><li><%= escape_javascript(msg) %></li><% end %></ul></div>');
	<% flash.delete(:notice) %>
	
<% else %>

	//$("#item-form").before('<div class="notice flash"><%= escape_javascript(flash.delete(:notice)) %></div>');
	$("#lists").remove();
	$("#item-form").after('<%= escape_javascript(render(:partial => "lists/list", :locals => {:list => @list})) %>');
	$("#item-form")[0].reset();

	/* live query? */
	$(".edit_item").submitWithAjax();
	$(".item-view").each(function(i){
		$(this).editInPlace();
	});

	$(".archive_checkbox_form").submitWithAjax();
	$(".archive_item_checkbox").each(function(){
		$(this).archive();
	});


<% end %>